<header id="top-header">
  <span class="siteName">
    <a
        href="/"
        title="Return to home page"
    >CSE Motors</a>
  </span>
  <div id="tools">
    <% if (pageData.user) { %>
    <span>Welcome, <%- pageData.user.account_firstname %></span>
    <div class="group">
      <%- include('./ui/button', {
        title: "click to view your account",
        text: "My Account",
        href: "/account",
      }) %>
      <%- include('./ui/button', {
        title: "click to log out",
        text: "Logout",
        href: "/account/logout",
      }) %>
    </div>
    <% } else { %>
    <%- include('./ui/button', {
      title: "click to log in",
      text: "Login",
      href: "/account/login",
    }) %>
    <% } %>
  </div>
</header>