<nav>
  <ul>
    <li>Home</li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>SUV</li>
    <li>Truck</li>
  </ul>
</nav>
<style>
  nav {
    background-color: var(--secondaryColor);
    color: var(--backgroundColor)
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1.1em 0;
  }

  nav li {
    font-family: var(--mainSansFontFamily);
    cursor: pointer;
  }
</style>