#nav {
  background-color: $secondaryColor;
  color: $backgroundColor;
  & ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1.1em 0;
  }
  & li > a {
    color: $backgroundColor;
    font-family: $mainSansFontFamily;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
