<nav id="nav">
  <ul>
    <% pageData.navData.forEach(navItem=> { %>
    <li>
      <a
          href="/inv/type/<%- navItem.id%>"
          title="See our inventory of <%- navItem.name %>"
      ><%- navItem.name %></a>
    </li>
    <% }) %>
  </ul>
</nav>