#nav {
  background-color: $secondaryColor;
  color: $backgroundColor;
  & ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1.1em 0;
  }
  & li {
    font-family: $mainSansFontFamily;
    cursor: pointer;
  }
}
