body {
  background: $backgroundColor;
  margin: 0 auto;
  padding: 0;
}

main {
  padding: 0 0.5em;
  h1.page-title {
    font-family: $mainSansFontFamily;
  }
  .messages {
    font-family: $mainSerifFontFamily;
    ul {
      border: 1px solid black;
      border-radius: 5px;
      &.error {
        color: $msgAlertFg;
        background-color: $msgAlertBg;
        border-color: $msgAlertFg;
      }
      &.info {
        color: $msgInfoFg;
        background-color: $msgInfoBg;
        border-color: $msgInfoFg;
      }
      &.success {
        color: $msgSuccessFg;
        background-color: $msgSuccessBg;
        border-color: $msgSuccessFg;
      }
    }
  }
}

@media screen and (min-width: $mobile-screen) {
  html {
    background: conic-gradient(
      #fff 90deg,
      #000 90deg 180deg,
      #fff 180deg 270deg,
      #000 270deg
    );
    background-size: 120px 120px;
  }
  body {
    padding: 1em;
    outline: $highlightColor solid 5px;
    max-width: min(calc(100vw - 5em), 50em);
    border-radius: 10px;
    margin: 20px auto;
  }
}
