<h1><%- title %></h1>

<a
    title="Edit account details"
    href="/account/edit-account"
>Edit Account Details</a>

<% if ((pageData.user) && (pageData.user.account_type == "Employee" || pageData.user?.account_type == "Admin")) { %>
<h3><%- pageData.user.account_type %> only content</h3>
<a
    title="manage inventory"
    href="/inv"
>Manage Inventory</a>
<% } %>