#account-page {
  font-family: $mainSansFontFamily;
  $table-padding: 1px;
  table {
    border-spacing: $table-padding;
    tr {
      height: 2em;
      th {
        text-align: start;
      }
      td,
      th {
        outline: $table-padding solid black;
        padding: 1em 0.3em;
        &:nth-child(2) {
          min-width: 11em;
        }
        &:nth-child(3) {
          vertical-align: top;
        }
      }
    }
  }
}
