<h1><%- title %></h1>
<p>Please note: the password must match the existing password, which is a string of 12 or more characters containing at least one lowercase charcter, at least one uppercase character, at least one numeric character, and at least one non-alphanumeric character.</p>
<%- include('../../partials/ui/form', formConfig) %>
<p> no account? <a href="/account/register">register here</a></p>