<h1><%- title %></h1>
<p>Please note: the password must be a string of 12 or more characters containing at least one lowercase charcter, at least one uppercase character, at least one numeric character, and at least one non-alphanumeric character.</p>
<%- include('../../partials/ui/form', formConfig) %>
<p> already have an account? <a href="/account/login">login here</a></p>