<a href="/inv/add-category">Add Category</a>
<a href="/inv/add-item">Add Vehicle</a>
<br>
<br>
<%- include("../../partials/ui/formField", viewCategoriesConfig) %>

<div id="categoryList"></div>

<script src="../../js/inventory/admin.js"></script>