<div id="classificationList">
  <h1><%- classification.name %> Cars</h1>
  <% if (invList.length === 0) { %>
  <p>No vehicles on record for <%- classification.name %>.</p>
  <% } else { %>
  <ul>
    <% invList.forEach((vehicle)=> { %>
    <%- include(
      '../../partials/classification/vehicleListItem.ejs',
      {...vehicle}) %>
    <% }) %>
  </ul>
  <% } %>
</div>