<div id="classificationList">
  <h1><%- classification.name %> Cars</h1>
  <ul>
    <% invList.forEach((vehicle)=> { %>
    <%- include(
      '../../partials/classification/vehicleListItem.ejs',
      {...vehicle}) %>
    <% }) %>
  </ul>
</div>