/******* Global vars ***************/
$textColor: #000;
$darkTextColor: #002c8a;
$secondaryColor: #242332;
$highlightColor: #02b0d2;
$backgroundColor: #fff;

$mainSansFontFamily: "Inter", sans-serif;
$mainSerifFontFamily: "PT Serif", serif;

$mobile-screen: 491px;

// layouts
@import "../views/layouts/layout.scss";
// pages
@import "../views/pages/home.scss";
// components
@import "../views/partials/nav.scss";
@import "../views/partials/header.scss";
//vehicle components
@import "../views/partials/vehicle/vehiclefeatures.scss";
@import "../views/partials/vehicle/vehicleReviews.scss";
@import "../views/partials/vehicle/vehicleUpgrades.scss";
