/******* Global vars ***************/
$textColor: #000;
$darkTextColor: #002c8a;
$secondaryColor: #242332;
$highlightColor: #02b0d2;
$backgroundColor: #fff;
$alert: #b60000;
$success: #006800;
$info: #0000b6;

$msgInfoFg: #757500;
$msgInfoBg: #ffff85;

$msgAlertFg: #800000;
$msgAlertBg: #ff8585;

$msgSuccessFg: #007000;
$msgSuccessBg: #85ff85;

$mainSansFontFamily: "Inter", sans-serif;
$mainSerifFontFamily: "PT Serif", serif;

$mobile-screen: 491px;

// layouts
@import "./layouts/layout.scss";

// pages
@import "./pages/home.scss";
@import "./pages/inventory/classification.scss";
@import "./pages/account/account.scss";

// components
@import "./partials/footer.scss";
@import "./partials/nav.scss";
@import "./partials/header.scss";
@import "./partials/ui/formField.scss";
@import "./partials/ui/buttons.scss";

//inventory components
@import "./partials/inventory/item.scss";

//vehicle components
@import "./partials/vehicle/vehiclefeatures.scss";
@import "./partials/vehicle/vehicleReviews.scss";
@import "./partials/vehicle/vehicleUpgrades.scss";
