/******* Global vars ***************/
:root {
  --textColor: #000;
  --darkTextColor: #002c8a;
  --backgroundColor: #fff;
  --backgroundTransparency: rgba(255, 255, 255, 0.9);
  --highlightColor: #02b0d2;
  --secondaryColor: #242332;

  --mainSansFontFamily: "Inter", sans-serif;
  --mainSerifFontFamily: "PT Serif", serif;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: var(--backgroundColor);
  margin: 0 auto;
  padding: 0;
}

main {
  padding: 0 0.5em;
}

/************ large screen ************/
@media screen and (min-width: 491px) {
  html {
    background: conic-gradient(
      #fff 90deg,
      #000 90deg 180deg,
      #fff 180deg 270deg,
      #000 270deg
    );
    background-size: 120px 120px;
  }
  body {
    padding: 1em;
    outline: var(--highlightColor) solid 5px;
    max-width: min(calc(100vw - 5em), 50em);
    border-radius: 10px;
    margin: 20px auto;
  }
}
