@charset "UTF-8";
/******* Global vars ***************/
body {
  background: #fff;
  margin: 0 auto;
  padding: 0;
}

main {
  padding: 0 0.5em;
}

@media screen and (min-width: 491px) {
  html {
    background: conic-gradient(#fff 90deg, #000 90deg 180deg, #fff 180deg 270deg, #000 270deg);
    background-size: 120px 120px;
  }
  body {
    padding: 1em;
    outline: #02b0d2 solid 5px;
    max-width: min(100vw - 5em, 50em);
    border-radius: 10px;
    margin: 20px auto;
  }
}
#home-page h1 {
  font-family: "PT Serif", serif;
}
#home-page .features-image {
  width: 100%;
  height: 17em;
  background-image: url("<%- vehicle.image %>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#home-page .features-image img {
  justify-self: center;
}
#home-page .features-image .features {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}
#home-page .upgrades-reviews {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 491px) {
  #home-page .upgrades-reviews {
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 1em;
  }
}

#classificationList h1 {
  font-family: "Inter", sans-serif;
}
#classificationList ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
#classificationList ul a {
  width: 40%;
  min-height: 14em;
  outline: #02b0d2 solid 2px;
  border-radius: 7px;
  padding: 1em;
  margin: 1em;
  color: #000;
  text-decoration: none;
}
#classificationList ul a:hover {
  text-decoration: underline;
  box-shadow: 0 0 0.5em #02b0d2;
}
#classificationList ul a div.img-container {
  display: flex;
  justify-content: center;
}
#classificationList ul a img {
  height: 5em;
  max-width: 100%;
}

#nav {
  background-color: #242332;
  color: #fff;
}
#nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1.1em 0;
}
#nav li > a {
  color: #fff;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  text-decoration: none;
}
#nav li > a:hover {
  text-decoration: underline;
}

#top-header {
  padding: 15px 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#top-header .siteName a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.5em;
  color: #000;
}
#top-header #tools a {
  font-family: "Inter", sans-serif;
  font-variant: small-caps;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
  color: #000;
}

.formField {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}
.formField input {
  border-radius: 4px;
  border-style: solid;
}
.formField input:focus-visible {
  outline-offset: 1px;
}
.formField input + span::after {
  font-size: 0.8rem;
}
.formField input:invalid:not(:placeholder-shown) {
  border-color: red;
  outline-color: red;
}
.formField input:invalid:not(:placeholder-shown) + span::after {
  content: "❌";
}
.formField input:valid:required, .formField input:valid:focus, .formField input:valid:focus-visible {
  border-color: green;
  outline-color: green;
}
.formField input:valid:required + span::after, .formField input:valid:focus + span::after, .formField input:valid:focus-visible + span::after {
  content: "✅";
}

#invItemComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 491px) {
  #invItemComponent {
    flex-direction: row;
  }
}
#invItemComponent .img img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 491px) {
  #invItemComponent .text {
    flex-basis: 40%;
  }
}
#invItemComponent p.color {
  display: flex;
}
#invItemComponent p.color span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: auto 0.5em;
}

#v-feat {
  margin-left: 2em;
  padding: 0.7em;
}
#v-feat h2 {
  font-family: "PT Serif", serif;
  color: #02869f;
  margin-block-start: 0;
  margin-block-end: 0;
}
#v-feat ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 1em;
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #02869f;
}
#v-feat button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.95em;
  font-weight: 700;
  color: #000;
  background-color: #02b0d2;
  border: outset 1px;
  padding: 0.5em 1.2em;
}
#v-feat button:active {
  border: inset 1px;
}

#v-reviews h2 {
  font-family: "PT Serif", serif;
}
#v-reviews ul {
  list-style-type: disc;
  padding: 0;
  padding-inline-start: 1em;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 650;
}
#v-reviews li {
  margin: 1em 0;
}

#v-upgrades {
  max-width: 27.5em;
}
#v-upgrades h2 {
  font-family: "PT Serif", serif;
}
#v-upgrades ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  list-style-type: none;
  padding: 0;
}
#v-upgrades a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002c8a;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
#v-upgrades .img {
  width: 100%;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02b0d2;
  border: 1px solid black;
}

/*# sourceMappingURL=styles.css.map */
