#v-reviews {
  & h2 {
    font-family: $mainSerifFontFamily;
  }
  & ul {
    list-style-type: disc;
    padding: 0;
    padding-inline-start: 1em;
    font-family: $mainSansFontFamily;
    font-size: 1.2em;
    font-weight: 650;
  }
  & li {
    margin: 1em 0;
  }
}
