<form
    action="<%- formConfig.action %>"
    method="<%- formConfig.method %>"
>
  <% formConfig.formData.forEach(datum=> { %>
  <%- include("./formField", { ...datum }) %>
  <% }) %>
  <%- include("./button", { elType: "button", title: "submit", type: "submit", id: null, href: null, text: formConfig.submitLabel}) %>
</form>