<div id="home-page">
  <h1>
    Welcome to CSE Motors!
  </h1>

  <div class="features-image" style="background-image: url('<%- vehicle.image %>');">
    <div class="features">
      <%- include ("../partials/vehicle/vehicleFeatures", { vehicle })%>
    </div>
  </div>

  <div class="upgrades-reviews">
    <div>
      <%- include ("../partials/vehicle/vehicleReviews", { vehicle })%>
    </div>
    <div>
      <%- include("../partials/vehicle/vehicleUpgrades", { vehicle }) %>
    </div>
  </div>
</div>